*.sql*
auth.json

custom/*
!/custom/plugins/.gitkeep
!/custom/static-plugins/
ci/composer.lock

install.lock

/vendor/
/bin/vendor/
/.uniqueid.txt
node_modules

/.idea
/docker-compose.override.yml

/config/packages/local.yaml
/config/packages/local.yml

public/asset-manifest.json
/public/.htaccess
!/public/fonts/.gitkeep
/public/img/*
!/public/img/.gitkeep
/public/css/*
!/public/css/.gitkeep
/public/js/*
!/public/js/.gitkeep
/public/media/*
!/public/media/.gitkeep
/public/theme/*
!/public/theme/.gitkeep
/public/thumbnail/*
!/public/thumbnail/.gitkeep
/public/plugins/*
/public/assets/*
/public/sitemap/*
!/public/sitemap/.gitkeep
/public/bundles/*
!/public/bundles/.gitkeep

/files/*/*
!/files/.gitkeep
!/files/*/.gitkeep

/platform/
/repos/

/.env

/.cache/

/.envrc

/var/*
!/var/log/.gitkeep
!/var/cache/.gitkeep
!/var/queue/.gitkeep
!/var/test/.gitkeep

**/.php_cs.cache
**/.phpunit.result.cache
###> shopware/core ###
.env.local
.env.local.php
.env.*.local
/public/bundles/*
/public/media/*
/public/theme/*
/public/thumbnail/*
/public/sitemap/*
/files/*
!/files/.htaccess
/var/*
!/var/.htaccess
/auth.json
/install.lock
public/asset-manifest.json
###< shopware/core ###
